# For Loop
- execute a block of code a specific number of times

In [8]:
# (0,5)
for i in range (5):
    print(i)

0
1
2
3
4

# While loop
- repeat somehting until a boolean expression evaluates to False
- A while loop is used when the number of iterations is not known beforehand, and the loop continues to execute as long as a specified condition remains true. The loop terminates when the condition becomes false.

In [98]:
i=0
while i<5:
    print(i)
    i=i+1 # without this step, generate lots of zero, nonstop
# i +=1

0
1
2
3
4

In [104]:
i = 0
while i < 5:
    i += 1
    print(i)

1
2
3
4
5

In [105]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

# why do we need i=0 before the loop？
- The line i = 0 initializes the variable i before the loop starts. 
- This is essential because: The while loop checks the condition i < 5 before every iteration. If i isn’t defined before the loop starts, Python will throw a NameError, because it doesn’t know what i is.

## why do we need i=i+1 or i += 1？
- i += 1 (or i = i + 1) ensures the loop progresses and eventually ends.
- This increments i by 1 on each loop iteration, so the loop will eventually stop.
- Without this line, the condition i < 5 would always be true, causing an infinite loop.
- Without either, the loop either won’t start (i not defined) or never ends (i never changes).

# Decision Strctures

In [10]:
for i in range(5):
    if i==2:
        print(i)

2

In [ ]:
for i in range(2026):
    if ((i%4==0) and (i%100 !=0)) or (i%400 ==0):
        # （(i%4==0) and (i%100 !=0)) or (i%400 ==0)
        # this is a boolean statement
        print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
104
108
112
116
120
124
128
132
136
140
144
148
152
156
160
164
168
172
176
180
184
188
192
196
204
208
212
216
220
224
228
232
236
240
244
248
252
256
260
264
268
272
276
280
284
288
292
296
304
308
312
316
320
324
328
332
336
340
344
348
352
356
360
364
368
372
376
380
384
388
392
396
400
404
408
412
416
420
424
428
432
436
440
444
448
452
456
460
464
468
472
476
480
484
488
492
496
504
508
512
516
520
524
528
532
536
540
544
548
552
556
560
564
568
572
576
580
584
588
592
596
604
608
612
616
620
624
628
632
636
640
644
648
652
656
660
664
668
672
676
680
684
688
692
696
704
708
712
716
720
724
728
732
736
740
744
748
752
756
760
764
768
772
776
780
784
788
792
796
800
804
808
812
816
820
824
828
832
836
840
844
848
852
856
860
864
868
872
876
880
884
888
892
896
904
908
912
916
920
924
928
932
936
940
944
948
952
956
960
964
968
972
976
980
984
988
992
996
1004
1008
1012
1016
1020
1024
1028
1032
1036
1040
1044
1048
1052
1056
1060
1064
1068
1072
1076
1080
1084
1088
1092
1096
1104
1108
1112
1116
1120
1124
1128
1132
1136
1140
1144
1148
1152
1156
1160
1164
1168
1172
1176
1180
1184
1188
1192
1196
1200
1204
1208
1212
1216
1220
1224
1228
1232
1236
1240
1244
1248
1252
1256
1260
1264
1268
1272
1276
1280
1284
1288
1292
1296
1304
1308
1312
1316
1320
1324
1328
1332
1336
1340
1344
1348
1352
1356
1360
1364
1368
1372
1376
1380
1384
1388
1392
1396
1404
1408
1412
1416
1420
1424
1428
1432
1436
1440
1444
1448
1452
1456
1460
1464
1468
1472
1476
1480
1484
1488
1492
1496
1504
1508
1512
1516
1520
1524
1528
1532
1536
1540
1544
1548
1552
1556
1560
1564
1568
1572
1576
1580
1584
1588
1592
1596
1600
1604
1608
1612
1616
1620
1624
1628
1632
1636
1640
1644
1648
1652
1656
1660
1664
1668
1672
1676
1680
1684
1688
1692
1696
1704
1708
1712
1716
1720
1724
1728
1732
1736
1740
1744
1748
1752
1756
1760
1764
1768
1772
1776
1780
1784
1788
1792
1796
1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024

# Range [1900, 2026)
- for i in range(1900, 2026)
- restrict the range
- if i want to include 2026, need to add 1, it will be (1900, 2027) ~ [1900, 2026]
- range(5) = [0,4]: 0,1,2,3,4

- range(a,b) -> [a,b)

In [13]:
count=0
for i in range(1900, 2026):
    if ((i%4==0) and (i%100 !=0)) or (i%400 ==0):
        count +=1 # count = count+1

print(count)

31

# if/elif/else

In [15]:
for i in range(5): 
    if i==2:
        print(i)
    elif i>2:
        print(i, "greater than two")
    else:
        print(i, "less than two")
 # if elif else: also take boolean expression
 # i=1; go through if,elif,else
 # i=2; go through if,elif,else

0 less than two
1 less than two
2
3 greater than two
4 greater than two

## Data Strucutres
list (ordered structures)

In [21]:
colors=["pink","yellow","green"]

m=[[1,2,3,4],
  [5,6,7,8],
  [9,10,11,12]]

In [ ]:
colors.append("blue") 
# adds a single element to the end of the list—regardless of the element’s type.
colors

['pink', 'yellow', 'green', 'blue', 'blue']

- remove something from the list

In [25]:
colors.remove("blue")
colors

['pink', 'yellow', 'green', 'blue']

- add something into the list

In [ ]:
colors.extend(["purple","aqua"])
# Takes an iterable (like a list, tuple, set, or string) 
# and adds each of its elements individually to the list.
colors

['pink', 'yellow', 'green', 'blue', 'purple', 'aqua']

# append and extend
**append**
- Adds one item (even if it's a list)
- Nested lists if you pass a list
- good for single element

**extend**
- Iterates through an iterable, adding items individually
- Flattens the iterable into the list
- Merging or concatenating iterables

In [ ]:
# append
a = [1, 2, 3]
a.append(4)
# Result: [1, 2, 3, 4]

a.append([5, 6])
# Result: [1, 2, 3, 4, [5, 6]]

# extend
a = [1, 2, 3]
a.extend([5, 6])
# Result: [1, 2, 3, 5, 6]

a.extend("hi")
# Result: [1, 2, 3, 5, 6, 'h', 'i']

- check if something is in a list

In [ ]:
print("yellow" in colors)
# print boolean statement
# see if "yellow" is in colors

True

- check the length of a list

In [29]:
len(colors)
# check the length of a list

6

**Add something to each item in the list**

In [30]:
for i in colors:
    print(i+ "s")

pinks
yellows
greens
blues
purples
aquas

In [34]:
[i + "s" for i in colors]

['pinks', 'yellows', 'greens', 'blues', 'purples', 'aquas']

In [35]:
[i + "s" for i in colors if "yellow" == i] # list comprehension

['yellows']

- represent matrices

In [33]:
for i in m:
     for j in i:
          print(i,j)
          print(j, j>4)

[1, 2, 3, 4] 1
1 False
[1, 2, 3, 4] 2
2 False
[1, 2, 3, 4] 3
3 False
[1, 2, 3, 4] 4
4 False
[5, 6, 7, 8] 5
5 True
[5, 6, 7, 8] 6
6 True
[5, 6, 7, 8] 7
7 True
[5, 6, 7, 8] 8
8 True
[9, 10, 11, 12] 9
9 True
[9, 10, 11, 12] 10
10 True
[9, 10, 11, 12] 11
11 True
[9, 10, 11, 12] 12
12 True

- pull out nth item out of the list; 倒数几个，前几个

In [37]:
colors

['pink', 'yellow', 'green', 'blue', 'purple', 'aqua']

In [38]:
colors[0]

'pink'

In [ ]:
colors[:2]
# 0 inclusive, 2 exclusive

['pink', 'yellow']

In [40]:
# get everything after the 3rd thing
colors[3:]

['blue', 'purple', 'aqua']

In [41]:
colors[-2]
# second from the last

'purple'

- Ex. pull out CNETID; email address

In [47]:
email="lxu01@uchicago.edu"
email[:-13] # get everything before that position
# @uchicago.edu = 13 letters
lst_of_emails = ["lxu01@uchicago.edu","lxu01@uchicago.edu","lxu01@uchicago.edu"]
cnet_lst =[i[:-13] for i in lst_of_emails]
cnet_lst

['lxu01', 'lxu01', 'lxu01']

In [ ]:
email.replace("@uchicago.edu","")
# replace(old, new) returns a new string where all occurrences of old are replaced with new.

'lxu01'

In [ ]:
s="This is a sample sentence"
tokens = s.lower().split()
# lower case and extract every single word in the sentence

count =0 # do not know how many words that will meet the condition
for t in tokens:
    if "sample" ==t:
        count +=1
print(count)

1

In [57]:
s="This is a sample sentence"
tokens = s.lower().split()
# lower case and extract every single word in the sentence

count=0
target_words=['sample','test','sentence'] # either '' or "" are the same
for t in tokens:
    if t in target_words:
        count +=1
print(count)

2

# Tuples
()

In [58]:
x, y = (1,2)
print(x,y)
# assign 1 to x, 2 to y
# assign values to two variables at the same time
# you print out anything with comma, you print out things with tuple

1 2

In [59]:
x,y = y,x
print(x,y)

2 1

## Dictionaries
- {}
- {key1:value1, key2:value2}
- eys need to be unique within the dictionary; otherwise, overide each other;
- allow you to do lookup in a database

In [61]:
studentId={}
type(studentId)

dict

In [69]:
studentId={"Joe":351060, "Bob":12345}
studentId["Joe"]
# run into problems when student Id not available

351060

In [68]:
studentId["Steve"]

KeyError: 'Steve'

In [ ]:
studentId.get("Steve",0)
# return the value for key if key is in the dictionary, else default
# 0 is the default value that get() returns if the key "Steve" is not found in the dictionary

0

In [70]:
studentId.get("Bob",0)

12345

In [ ]:
Bob in studentId
# "" needed

NameError: name 'Bob' is not defined

In [ ]:
"Bob" in studentId

True

In [89]:
student_scores ={"Bob": [100,90], "Steve": [80,70]}
student_scores.get("Bob")
student_scores.get("Bob")[0]

100

In [85]:
student_grades={'Bob':{'A1':100, 'A2':90}, 'Steve': {'A1':80, 'A2':70}}
student_grades.get('Bob').get('A1')

100

In [79]:
for k,v in student_grades.items():
    print(k,v)

for k in student_grades.keys():
    print(k)

Bob {'A1'}
Bob

In [80]:
for v in student_grades.values():
    print(v)

{'A1'}

# Dictionary: Additional Example

- what do I know about dictionary
- dic = {}
- dic = {"key1": value, "key2": value2, ...}
- need "" around keys and values that are strings
- print(dic["key1"])
- keys must be unique, otherwise, 2nd value override 1st value
- values can be numbers, strings, lists, even other dictionaries.
- can add/change item
- looping through a dic

- Each key maps to a single value

In [ ]:
# dic{}
# need "" around keys
# need 

me = {"name": "Larissa", "age": 22, "major": "Psychology"}
print(me["name"])
print(me["age"])
print(me["major"])

Larissa
22
Psychology

In [ ]:
for i in me:
    print(me[i])

Larissa
22
Psychology

- indentation and print()

In [ ]:
for i in me:
    print(me[i]) # print out each item's result
print(me[i]) # when print function is at the same level 
             # (indentation) of for loop
             # only print out the last item's result

Larissa
22
Psychology
Psychology

- keys must be unique
- the second value will override the first value

In [125]:
dic = {"a": 2, "a": 3}
print(dic["a"])

3

- can add/change item

In [129]:
dc = {"A":3, "B":4}
# wrong: d{"C":5}
# wrong: d{"A"}
dc["A"] = 5
dc["C"] = 6
dc

{'A': 5, 'B': 4, 'C': 6}

- looping thru a dic
- for key, value in d.items(): print(key, value)

In [130]:
for k, v in dc.items():
    print(k,v)

A 5
B 4
C 6

- checking and retrieving keys
- Or safely with .get() (avoids error if key doesn't exist):
- dic.get("key", default)
- if "key" in dic:
     print(dic["key"])

In [131]:
if "name" in me:
    print(me["name"])

Larissa

In [ ]:
if "height" in me:
    print(me["height"])
# no printout

In [132]:
print(me.get("height", "Not available"))

Not available

In [133]:
print(me.get("name", "Not available"))

Larissa

In [134]:
print(me.get("name", 0))
# dic.get("key", default)

Larissa

- to count items

In [137]:
counts = {}
for item in items:
    counts[item] = counts.get(item, 0) + 1

NameError: name 'items' is not defined

# CSV Module

In [83]:
import csv

In [ ]:
with open('temps.csv') as f:
        reader=csv.reader(f) 
        for row in reader: # loop through each row
              print(row) # Prints each row (as a list of strings).
# f is a variable name that refers to the file object returned by open('band_nir.csv')
# reader : csv is reading in this file
# reader is a variable. It stores whatever the expression csv.reader(f) returns.
# uses the csv.reader() function to turn the file into a reader object that you can loop through.
# each row in the CSV becomes a list of strings.

['Sunday', '34', '18']
['Monday', '43', '30']
['Tuesday', '39', '27']
['Wednesday', '34', '21']
['Thursday', '27', '16']
['Friday', '34', '18']
['Saturday', '32', '12']

In [148]:
import csv
with open ("temps.csv") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Sunday', '34', '18']
['Monday', '43', '30']
['Tuesday', '39', '27']
['Wednesday', '34', '21']
['Thursday', '27', '16']
['Friday', '34', '18']
['Saturday', '32', '12']

- with open('~/temps.csv') as f:
- with open('../temps.csv') as f:

In [90]:
data = {}
with open('temps.csv') as f:
        reader=csv.reader(f)
        for row in reader:
              data[row[0]]={'high':row[1], 'low': row[2]}
# reader : csv is reading in this file

print(data)

{'Sunday': {'high': '34', 'low': '18'}, 'Monday': {'high': '43', 'low': '30'}, 'Tuesday': {'high': '39', 'low': '27'}, 'Wednesday': {'high': '34', 'low': '21'}, 'Thursday': {'high': '27', 'low': '16'}, 'Friday': {'high': '34', 'low': '18'}, 'Saturday': {'high': '32', 'low': '12'}}

In [92]:
# transfer numerical value to categorical value
with open('hot_cold.csv','w') as f:
    writer = csv.writer(f)
    for k,v in data.items():
        if int(v.get('high')) >32:
            writer.writerow([k, "hot"])
        elif int(v.get('high'))>27:
            writer.writerow([k,'warm'])
        else:
            writer.writerow([k, "cold"])
            # hot_cold.csv being created

# Initiation

- What about setting all_pos = True before the loop?
- This is called initialization.
- You need a starting assumption before you check anything.
- Here, you start by assuming all numbers are positive (all_pos = True).
- Then, during the loop, if you find a problem (a non-positive number), you update all_pos to False.
- Without initializing all_pos, Python would give you an error because you would be trying to use a variable that doesn’t have a value yet.

In [ ]:
'''
4. Write a loop to compute a variable `all_pos` that has the value `True` if
all of the elements in a list of integers `lst` are positive and `False`
otherwise. Again, assume `lst` has the value `[-1, 2, -3, 4, 0]` for the
purposes of this prompt.
'''
# YOUR CODE HERE
lst = [-1, 2, -3, 4, 0]
all_pos = True # starting point (assuming all integers are positive)
for i in lst:
    if i <= 0:
        all_pos = False # use == when comparing two values; = is for assigning values
        break
    # As soon as the loop finds one number that is <= 0, all_pos = False and quit loop
print(all_pos)

False
False
False
False

# Break
- When break is hit and executed within a for loop, the loop stops iterating through the remaining elements, and the program continues after the loop.

In [107]:
lst = [-1, 2, -3, 4, 0]
all_pos = True 
for i in lst:
    if i <= 0:
        all_pos = False
        print(all_pos) # pring out three Falses

False
False
False

# Why do you see three False prints?

- Because: The loop goes over every element. Whenever i is <= 0, it sets all_pos = False and prints it immediately. In your list, -1, -3, and 0 are all <= 0, so it prints False three times (once for each of those).

# Questions
- different print positions in for loop, serving different purposes
- always need to set a beginning point?? still find it somehow conceptually confusing

# Max
- max([1, 5, 3])	Returns 5
- max(words, key=len)	Returns longest word
- max(dict, key=dict.get)	Returns key with highest value

In [142]:
numbers = [3, 10, 7]
print(max(numbers))

10

In [143]:
numbers = [2,3,4]
print(max(numbers))

4

In [ ]:
words = ["cat", "elephant", "dog"]
print(max(words))  # → 'elephant' (because 'e' > 'c' and 'd' in lexicographical order)

elephant

In [3]:

lst2 = ["a","b","c"]
max(lst2)

'c'

In [ ]:
print(max(words, key=len))  
# → 'elephant' (because it's the longest)
# The key= argument tells Python how to compare the items.
# It applies len() to each word:
# len("cat") → 3
# len("elephant") → 8
# len("dog") → 3

elephant

# How to represent row and colomn in for loop
- row ~ range(len(list))
- colomn ~ range(len(list[0]))

for i in range(len(band_red)):
    for j in range(len(band_red[0])):
        red = band_red[i][j]
        nir = band_nir[i][j]

        ndvi = (nir - red) / (nir + red) # be careful about the indentation

        if -0.25 < ndvi <= 0.25:
            counts["barren"] += 1
        elif 0.25 < ndvi <= 1.0:
            counts["vegetation-rich"] += 1
        else:
            counts["flood"] += 1

# zip

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
# zip(keys, values) # does not work
list(zip(keys, values))

AttributeError: 'dict' object has no attribute 'append'

## Coin Flip Demo #
- why do we need while loop
- how many times do i need to flip a coin in order to get 5 heas in a row?

In [6]:
import random
random.seed(0)
for i in range(5):
    print(random.random())

0.8444218515250481
0.7579544029403025
0.420571580830845
0.25891675029296335
0.5112747213686085

In [9]:
import random
flip = random.random()
if flip <0.5:
    print("heads")
else:
    print("tails")

heads

In [ ]:
target = 5
consecutive_heads = 0
total_flips = 0
random.seed(0)

# while ...:
    # flip a coin
    # if it's heads, increment consecutive_heads
    # if it's tails,set consecutive heads back to 0
    # increment total_flips after the coin has been flipped

while consecutive_heads < target:
    # flip a coin
    flip = random.random()
   

    # if it's heads, increment consecutive_heads
    if flip < 0.5:
        consecutive_heads +=1
    
    # if it's tails,set consecutive heads back to 0
    else: 
        consdcutive_heads = 0

    # increment total_flips after the coin has been flipped
    total_flips += 1

print(total_flips)